.bttb_logo img
{
	margin-top: -7px;
	width: 200px;
}

.spacer
{
	margin-top: 64px;
}

button:focus
{

}

.sm-icons
{
	width: 21px;
	position: absolute;
	right: 14px;
}

.glyphicon-play-circle{
	font-size: 170px;
	position: absolute;
	color: #474747;
	opacity: 0.6;
	transition: opacity .3s;
	height: 201px;
	width: 201px;
	margin-top: -1px;
	border-radius: 6px;

}
.glyphicon-play-circle:hover{
	opacity:.3;
	transition: opacity .3s;
}

