.bttb_logo img
{
	margin-top: -7px;
	width: 200px;
}

.spacer
{
	margin-top: 64px;
}

button:focus
{

}

.sm-icons
{
	width: 21px;
	position: absolute;
	right: 14px;
}

span.glyphicon-play-circle{
	font-size: 12.0em;
	position: absolute;
	margin-left: .1em;
	margin-top: .08em;
	color: #474747;
	opacity: 0.5;
	transition: opacity .5s;
}
span.glyphicon-play-circle:hover{
	opacity:.9;
	transition: opacity .5s;
}

